body {
  margin: 0px;
  padding: 0px;
}


li {
  list-style: none;
}

.page {
  display: flex;
  height: 100vh;
}

.menu {
  font-family: "Avenir Next";
  background-color: #597C8B; /*#46494C;*/
  color: #DCDCDD;
  /*width: 400px;*/
  min-width: 130px;
  padding: 15px 60px;
}

.menu-logo {
  font-size: 80px;
  color: white;
}

.menu-footer {
  font-size: 13px;
  position: absolute;
  bottom: 10px;
}


.main {
/*  float: right;
  width: 75%;*/
  font-family: "Alegreya Sans SC Font";
  background-color: #31444D; /*#4C5C68;*/
  color: #C5C3C6;

  flex: auto;
  min-width: 600px;
  width: auto;
  overflow-y: scroll;
  padding: 30px 0px 0px 30px;
}

.main h1{
  text-align: center;
}

.pic_size{
  width: 80%;
  background-color: white;
}

.pic_size_small{
  width: 250px;
}

.icon_grid{
  background-color: #1C2541;
  padding: 0px;
  margin: auto;
  width: 900px;
}


.icon_grid li{
  margin: 0px 5px 0px 0px;
  float: left;
}

.images{
  text-align: center;
}


img:hover {
   opacity: 0.4;
}


a {
  color: #DCDCDD;
  text-decoration: none;
}

a:hover {
  font-weight: bold
}