.container {
  display: flex;
  height: 100vh;
}

.left {
  width: 500px;
  background-color: red;
}

.main {
  flex: auto;
  min-width: 600px;
  width: auto;
  overflow-y: scroll;
  background-color: pink;
}

.right {
  width: 250px;
  background-color: yellow;
}


.nav1 ul {
  font-size: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 4px;
  list-style: none;
  text-align: center;
}
.nav1 li {
  font-size: 24px;
  margin: 0 8px;
  display: inline-block;
}
.nav1 li a {
  text-decoration: none;
  padding-bottom: 3px; /* 文字と下線に隙間を作る */
  color: #000;
  display: block;
}
.nav1 li a:after {
  content: '';
  width: 0;
  transition: all 0.3s ease;
  border-bottom: 3px solid #000;
  display: block;
}
.nav1 li a:hover:after {
  width: 100%;
  border-bottom: 3px solid #000;
}